<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton title="dsdsad" android.systemIcon="ic_menu_back" (tap)="goBack()" ></NavigationButton>

   <!--  <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    --> <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <!-- <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem> -->
    <Label text={{ActionBarHeading}} ></Label>
</ActionBar>

<ScrollView orientation="vertical" >
<StackLayout>
              <DropDown #dd
                  itemsTextAlignment="center"
                  (selectedIndexChanged)="onchange($event)"
                  class="item-drop-down"
                  hint="Select Leave"></DropDown>


                <TextField  class="Header" hint="IF Other"
                [(ngModel)]="Other"
                #otherFromControl="ngModel"></TextField>

                <GridLayout columns="*,2*" rows="2*,3*"  >
                    <Label text="Leave From" row="0" col="0"  class="leaves"></Label>

                    <TextField editable="false"
                    required
                    [(ngModel)]="LeaveFrom"
                    #tleavefrom="ngModel"


                    (tap)="LeaveFromPickDate()"
                    row="0" col="1"></TextField>

                    <Label text="Untill the Day" row="1" col="0"  class="leaves"></Label>

                    <TextField editable="false"   #tuntillday
                    (tap)="LeaveToPickDate()"  [(ngModel)]="LeaveTo"
                    row="1" col="1"></TextField>
                 </GridLayout>

                 <GridLayout columns="*,2*" rows="2*,3*"  >

                 <Label text="LastDay of work" row="0" col="0"  class="leaves"></Label>

                    <TextField editable="false" class="Header"  #lastday
                    (tap)="LastDayPickDate()"  [(ngModel)]="LastDay"
                    row="0" col="1"></TextField>

                    <Label text="ExpDay to Work" row="1" col="0"  class="leaves"></Label>

                    <TextField editable="false" class="Header"  #expectedday
                    (tap)="ExpectedDayPickDate()"  [(ngModel)]="ExpectedDay"
                    row="1" col="1"></TextField>

                </GridLayout>


            <TextField  class="Header" hint="Address During Leave" [(ngModel)]="AddressLeave"></TextField>

            <Button text="Choose Leave Certificate to upload" (tap)="onSelectIamgeTap()"></Button>
            <Image src="{{certificate}}" class="nt-drawer__header-image fas t-36"></Image>
            <Label [text]=uploading></Label>

            <TextField  class="Header" hint="Travel Detail-From" [(ngModel)]="FromDate"></TextField>
            <TextField  #TraveDetailToTextField  class="Header" hint="Travel Detail-To" [(ngModel)]="ToDate"></TextField>

            <TextField  class="Header" hint="Travel Detail" [(ngModel)]="TravelDetail"></TextField>


            <GridLayout columns="*,2*" rows="2*,3*"  height="120">
                <Label text="Ticket Required" row="0" col="0" class="Header"></Label>
                <Switch checked="false" row="0" col="1" (checkedChange)="onTickerRequiredChange($event)"></Switch>

                <Label text="Company Ticket" row="1" col="0" class="Header"></Label>
                <Switch checked="false" row="1" col="1" (checkedChange)="onCompanyTicketChange($event)"></Switch>


            </GridLayout>

            <DropDown #approver

            [selectedIndex]="defaultIndex"
            (selectedIndexChanged)="onchangeSubmitTo($event)"
            backroundColor="red"
            itemsTextAlignment="center"
            class="item-drop-down"
            hint="Submit to"
  >
            </DropDown>

         <Button text="Submit"  [visibility]="tleavefrom.valid ? 'visible' :'collapse'"
            [isEnabled]="!isLoading"
          class="btn btn-primary" (tap)="SaveLeave()"></Button>

</StackLayout>

</ScrollView>
<StackLayout>

    <ActivityIndicator busy={{isLoading}} color="green" ></ActivityIndicator>

</StackLayout>
